bootstrap/heartbeat_workflow.json
{
  "name": "System Heartbeat",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "id": "schedule-trigger"
    },
    {
      "parameters": {
        "url": "http://100.125.131.66:5001/api/pulse",
        "method": "GET",
        "options": {
          "timeout": 5000
        }
      },
      "name": "Ping Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "id": "ping-dashboard",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.status_code }}",
              "value2": "200"
            }
          ]
        }
      },
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "id": "check-status"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "💓 System Heartbeat: ALIVE\nDashboard: {{ $json.timestamp }}\nN8N: {{ $json.n8n }}\nBunny: {{ $json.bunny }}",
        "additionalFields": {}
      },
      "name": "Telegram Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "id": "telegram-success",
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "⚠️ System Heartbeat: FAILED\nDashboard (/api/pulse) is unreachable from N8N.",
        "additionalFields": {}
      },
      "name": "Telegram Failure",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        800,
        400
      ],
      "id": "telegram-failure",
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Ping Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ping Dashboard": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Telegram Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
